.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-header-title {
    justify-content: center;
    align-items: center;
}

.card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}